
<div class="china">
    <h1>Đây là component home</h1>
    <input type="text" [(ngModel)]="age">
    <h1>Tuổi của bạn là: {{age}}</h1>
    <div *ngIf="age <= 18; then tre else gia"></div>
    <ng-template #tre><h2>Bạn còn trẻ</h2></ng-template>
    <ng-template #gia><h2>Bạn đã già</h2></ng-template>
    <!-- <h2 *ngIf="age <= 18">Bạn còn trẻ</h2>
    <h2 *ngIf="age > 18">Bạn đã già</h2> -->
    <!-- <button (click)="resetName()">ResetName</button> -->
    <!-- <input value="{{name}}">
    <br>
    <input [value]="name" title="đây là {{name}}">
    <br>
    <input [value]="name" [title]="'đây là ' + name">

    <h2 *ngIf="age > 18">Bạn lớn hơn 18</h2>
    <h2 *ngIf="age <= 18">Bạn nhỏ hơn hoặc bằng 18</h2> -->


</div>
